@media ( max-width:992px){
    .burger {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        right: 40px;
    }
    .page-nav{
        position: fixed;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        height: 100%;
        width: fit-content;
        top: 0;
        right:0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: rgb(249, 246, 246);
        animation: burgerAnimation 0.4s;
    }
    .page-nav .items {
        flex-direction: column;
        row-gap: 30px;
    }
    .page-nav .item,
    .page-nav li:nth-child(4),
    .page-nav li:nth-last-child(-n+1)
    {
        margin-left: 0;
    }
    .submain-image-txt,
    .st,
    .st1,
    .st2
    {
        display: none;
    }
    .title{
        font-size: 48px;
    }
    .image__icon{
        width: 400px;
    }
}
@media ( max-width:768px){
    .submain-image{
        display: none;
    }
    .submain-link__item{
        width: 150px;
    }
}